<!--
    opgave 2: maak een tabel waarin de data die in het achterliggende .ts-bestand is opgeslagen wordt weergegeven.
    Gebruik bootstrap voor de vormgeving. Zie https://getbootstrap.com/docs/4.3/content/reboot/#tables
-->

<p><b>Data component</b></p>

<table style="width:100%">
  <th>Airline</th>
  <th>Ident</th>
  <th>Aircraft</th>
  <th>Status</th>
  <th>Departure</th>
  <th>Arrival</th>
  <th>Connection</th>
  <tr *ngFor="let f of flightData">
    <td style="border:1px solid black">{{ f.Airline }}</td>
    <td style="border:1px solid black">{{ f.Ident }}</td>
    <td style="border:1px solid black">{{ f.Aircraft }}</td>
    <td style="border:1px solid black">{{ f.Status }}</td>
    <td style="border:1px solid black">{{ f.Departure }}</td>
    <td style="border:1px solid black">{{ f.Arrival }}</td>
    <td style="border:1px solid black">{{ f.Connection }}</td>
  </tr>
</table>
